/* Your stylesheet */

/* ------Format navbar-------- */
 /* Navbar container */

/* ------Format navbar-------- */
.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: none;
}

/* ----THIS IS IMPORTANT FOR ALIGNMENT ---- */
.topnav li a.list {
  display: block;
  color: black;
  text-align: center;
  margin: 0;
  padding: 10px 12px;
  border-radius: .50rem;
  text-decoration: none;
}

.li-home {float: left;}

.topnav li a.home {
  display: block;
  background-color: teal;
  color: white;
  text-align: center;
  margin: 0;
  padding: 10px 12px;
  border-radius: .50rem;
  text-decoration: none;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: black;
  text-align: left;
  vertical-align: middle;
  padding: 10px 12px;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border-radius: .50rem;
}

.dropdown-menu{
  /* position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000; */
  display: none;
  float: left;
  min-width: 8rem;
  padding: none;
  /* margin: .1rem 0 0; */
  font-size: 0.8rem;
  color: black;
  text-align: left;
  list-style: none;
  background-color: white;
  /* background-clip: padding-box; 
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem; */
}
.dropdown-menu li a {
  display: block;
  color: black;
  text-align: center;
  margin: 0;
  padding: 2px 4px;
  border-radius: .50rem;
  text-decoration: none;
}

.topnav li a:hover:not(.active) {
  background-color: grey;
}

.btn button:hover:not(.active) {
  background-color: grey;
 }

.right {float: right;}

@media screen and (max-width: 600px) {
  .topnav li.right, 

}






 /* .navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
} */