/* Your stylesheet */

/* ------Format navbar STARTS here-------- */ */
.navbar {
  /* white-space: nowrap; */
  list-style-type: none;
  margin: 0;
  /* padding: .5rem 2rem; */
  background-color: none;
  /* justify-content: none; */
  /* position: fixed; */

}

.navbar li a.list {
  display: block;
  color: black;
  text-align: center;
  margin: 0;
  padding: 10px 12px;
  border-radius: .50rem;
  text-decoration: none;
}

.li-home {float: left;}

.navbar li a.home {
  display: block;
  background-color: teal;
  color: white;
  text-align: center;
  margin: 0;
  padding: 10px 12px;
  border-radius: .50rem;
  text-decoration: none;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: black;
  text-align: left;
  vertical-align: middle;
  padding: 10px 12px;
  margin: 0,0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border-radius: .50rem;
} 

.dropdown-menu{
  display: none;
  float: left;
  min-width: 8rem;
  padding: none;
  font-size: 0.8rem;
  color: black;
  text-align: left;
  list-style: none;
  background-color: white;
 }

.dropdown-menu li a {
  display: block;
  color: black;
  text-align: center;
  margin: 0,0;
  padding: 2px 4px;
  border-radius: .50rem;
  text-decoration: none;
} 

.navbar li a:hover:not(.active) {
  background-color: grey;
}

.btn button:hover:not(.active) {
  background-color: grey;
 }

.right {
  float: right;
  padding: none;
  margin: 0,0;
} 
.far-right {
  float: right;
  padding: none;
  margin-right: 100px;
} 


@media screen and (max-width: 680px) {

  .navbar li a.list {
    padding: 5px 6px;
    font-size: 0.8rem;
  }
    
  .navbar li a.home {
    padding: 8px 10x;
    font-size: 0.8rem;
  }
  
  .btn {
    display: block;
    padding: 5px 6px;
    font-size: 0.8rem;
  } 
  
  .dropdown-menu{
    padding: none;
    font-size: 0.8rem;
  }
  .far-right {
    float: right;
    padding: none;
    margin-right: 5px;
  } 
  
}
  

/* ------Format navbar ENDS here--------

