/* Your stylesheet */

/* ------Format navbar STARTS here-------- */ */
.navbar {
  /* white-space: nowrap; */
  list-style-type: none;
  margin: 0;
  padding: none; 
  background-color: none;
  max-height: 80px;
  /* display: none; */
  /* justify-content: none; */
  /* position: fixed; */

}

.navbar li a.list {
  display: block;
  color: black;
  text-align: center;
  margin: 0;
  padding: 10px 12px;
  border-radius: .50rem;
  text-decoration: none;
}

.li-home {float: left;}

.navbar li a.home {
  display: block;
  background-color: teal;
  color: white;
  text-align: center;
  margin: 0;
  padding: 10px 12px;
  border-radius: .50rem;
  text-decoration: none;
  font-size: 2rem
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: black;
  text-align: left;
  vertical-align: middle;
  padding: 10px 12px;
  margin: 0,0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border-radius: .50rem;
} 

.dropdown-menu{
  display: none;
  float: left;
  min-width: 8rem;
  padding: none;
  font-size: 0.8rem;
  color: black;
  text-align: left;
  list-style: none;
  background-color: white;
 }

.dropdown-menu li a {
  display: block;
  color: black;
  text-align: center;
  margin: 0,0;
  padding: 2px 4px;
  border-radius: .50rem;
  text-decoration: none;
} 

.navbar li a:hover:not(.active) {
  background-color: grey;
}

.btn button:hover:not(.active) {
  background-color: grey;
 }

.right {
  float: right;
  padding: none;
  margin: 0,0;
} 
.far-right {
  float: right;
  padding: none;
  margin-right: 100px;
} 


@media screen and (max-width: 680px) {

  .navbar {
    background-color: teal;
    max-height: 80px;
  }

  .navbar li a.list {
    padding: 5px 6px;
  }
    
  .navbar li a.home {
    padding: 8px 10x;
    font-size: 1.2rem;
  }
  
  .btn {
    display: block;
    padding: 5px 6px;
  } 
  
  .dropdown-menu{
    padding: none;

  }
  .far-right {
    float: right;
    padding: none;
    margin-right: 5px;
  } 
  
}
 /* ------Format navbar ENDS here-------- */

 /* ------Format content STARTS here-------- */
 #main-title {
  color: teal;
  text-align: left;
  margin: 0,0;
  padding: none; 
  border-radius: none;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold
} 

#visualizations {
  color: teal;
  text-align: left;
  margin: 0,0;
  padding: none; 
  border-radius: none;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold
} 
 .card-title {
  color: teal;
  text-align: left;
  margin: 0,0;
  padding: none; 
  border-radius: none;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold
} 

.justified {
  display: block;
}

.image-width { 
  width: 50%;
}

.small-image { 
  width: 100%;
  padding-top: 25px;
}

.title1 {
  font-weight: bold;
  text-align: center;
}

.border1 {
  border-style: solid;
  border-width: 2px;
  border-color: teal;
}

.padding-cloud {
  padding-top: 60px;
  padding-bottom: 0px;
}

.padding-humid {
  padding-top: 15px;
}

@media screen and (max-width: 680px) {

  .wrap-image {
    padding: none;
  }

  .col-md-6 {
    float: left;
  }

  .padding-cloud {
      padding-top: 20px;
  }
}


  

/* .card-img-top {
  
} 

#featured-image {
  ;
} 

} */
